In [1]:
import os
print os.getcwd()

/home/greatskull/Course 1

In [2]:
import graphlab

In [3]:
import graphlab

In [5]:
sf = graphlab.SFrame('people-example.csv')

Finished parsing file /home/greatskull/Course 1/people-example.csv

Parsing completed. Parsed 7 lines in 0.009555 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/greatskull/Course 1/people-example.csv

Parsing completed. Parsed 7 lines in 0.009711 secs.

In [5]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [6]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [7]:
sf = graphlab.SFrame('people-example.csv')

Finished parsing file /home/greatskull/Course 1/people-example.csv

Parsing completed. Parsed 7 lines in 0.073818 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/greatskull/Course 1/people-example.csv

Parsing completed. Parsed 7 lines in 0.069251 secs.

In [8]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|   Tanay    |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [9]:
sf.head(2)

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 2

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|   Tanay    |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
+------------+-----------+---------------+-----+
[2 rows x 4 columns]

In [10]:
sf.describe()

AttributeError: 'SFrame' object has no attribute 'describe'

In [11]:
sf.head(5)

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 5

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|   Tanay    |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
+------------+-----------+---------------+-----+
[5 rows x 4 columns]

In [12]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|   Tanay    |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [15]:
xx

NameError: name 'xx' is not defined

In [16]:
xx = graphlab.SFrame('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

Downloading https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data/dir_archive.ini to /var/tmp/graphlab-greatskull/32117/2d680367-6f0f-4452-b8ff-4e5a1ae8bfb4.ini

Failed to download https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data/dir_archive.ini: HTTP response code said error

RuntimeError: Runtime Exception. Unable to parse frame index file https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

In [17]:
xx

NameError: name 'xx' is not defined

In [18]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|   Tanay    |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [8]:
sf.head()[1][0]

KeyError: 0

In [19]:
sf.show()

Canvas is updated and available in a tab in the default browser.

In [20]:
graphlab.canvas.set_target('ipynb')

In [23]:
sf['Country'].show(view='Categorical')

In [24]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [25]:
sf['Country'].show()

In [26]:
sf['Country'].mean()

RuntimeError: Runtime Exception. Cannot perform on types that are not numeric or vector!

In [27]:
sf['age'].mean()

23.142857142857146

In [28]:
sf['age'].min()

22

In [29]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|   Tanay    |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [30]:
sf['Fuck'] = sf['First Name'] + ' ' + sf['Last Name']

In [31]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Fuck	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |      Fuck      |
+------------+-----------+---------------+-----+----------------+
|   Tanay    |   Smith   | United States |  24 |  Tanay Smith   |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [32]:
for i in sf['Country']:
    if i=='USA':
        i = 'United States'

In [33]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Fuck	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |      Fuck      |
+------------+-----------+---------------+-----+----------------+
|   Tanay    |   Smith   | United States |  24 |  Tanay Smith   |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [34]:
i

'Switzerland'

In [36]:
for i in sf['Country']:
    if i=='USA':

AttributeError: 'SFrame' object has no attribute 'delete'

In [38]:
ab = lambda x if x=='USA': 'United States'

SyntaxError: invalid syntax (<ipython-input-38-b955665b2bc2>, line 1)

In [39]:
def tc(c):
    if c == 'USA':
        return 'United States'
    else:
        return c

In [42]:
sf['Country'] = sf['Country'].apply(tc)

In [43]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Fuck	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |      Fuck      |
+------------+-----------+---------------+-----+----------------+
|   Tanay    |   Smith   | United States |  24 |  Tanay Smith   |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [44]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Fuck	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |      Fuck      |
+------------+-----------+---------------+-----+----------------+
|   Tanay    |   Smith   | United States |  24 |  Tanay Smith   |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [ ]:
print 'Tnay'

In [ ]:
import os

In [ ]:
print os.getcwd()